<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lionel Messi has won:</h1>
    <p>
        Barcelona
        La Liga:2004-05, 2005-06, 2008-09, 2009-10, 2010-11
        Copa del Rey:2008-09, 2011-12
        Supercopa de Espana:2005, 2006, 2009, 2010, 2011
        UEFA Champions League:2005-06, 2008-09, 2010-11
        UEFA Super Cup:2009, 2011
        FIFA Club World Cup:2009, 2011
        Argentina
        Olympic Gold Medal:2008
        FIFA U-20 World Cup:2005
        Runner-up:
        Copa America:2007
        Third place:
        U20 South American Youth Championship:2005
        Individual
        FIFA Ballon d'Or:2010, 2011, 2012
        Ballon d'Or:2009
        FIFA World Player of the Year:2009
        World Soccer Young Player of the Year:2006, 2007, 2008
        World Soccer Player of the Year:2009, 2011, 2012
        Onze d'Or:2009, 2011, 2012
        IFFHS World's Top Goal Scorer:2011, 2012
        IFFHS World's best Top Division Goal Scorer:2012
        Goal.com Player of the Year:2009, 2011
        El País King of European Soccer:2009, 2010, 2011, 2012
        ESPY Best International Athlete:2012
        European Golden Shoe:2010, 2012
        UEFA Best Player in Europe Award:2011
        UEFA Club Footballer of the Year:2009
        UEFA Team of the Year:2008, 2009, 2010, 2011, 2012
        UEFA Champions League Top Goalscorer:2009, 2010, 2011, 2012
        UEFA Champions League Forward of the Year):2009
        UEFA Champions League Final Man of the Match:2011
        FIFA U-20 World Cup Player of the Tournament:2005
        FIFA Club World Cup Golden Ball:2009, 2011
        FIFA FIFPro World XI:2007, 2008, 2009, 2010, 2011, 2012
        FIFPro World Young Player of the Year:2006, 2007, 2008
        ESM Team of the Year:2005-06, 2007-08, 2008-09, 2009-10, 2010-11,
        2011-12


        Pichichi Trophy:2010, 2012
        Copa del Rey Top Goalscorer:2010-2011
        La Liga Player of the Year:2009, 2010, 2011
        La Liga Foreign Player of the Year:2007, 2009, 2010
        La Liga Ibero-American Player of the Year:2007, 2009, 2010, 2011, 2012
        LFP Best Player:2009, 2011, 2012
        LFP Best Forward:2009, 2011, 2012
        Marca Leyenda:2009
        Bravo Award:2007
        Copa America Young Player of the Tournament:2007
        European Golden Boy:2005
        Olimpia de Oro:2011
        Olimpia de Plata:2005, 2007, 2008, 2009, 2010, 2011, 2012
    </p>
</body>

</html>